<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NaBotX</title>
    ${styles} ${scripts}
  </head>
  <body>
    <button class="tab-button" onclick="openModelModal()">
      Model: <span id="model-name">Unknown</span>
    </button>
    <div class="tab-buttons">
      <button class="tab-button active" onclick="locals.openTab('tab1')">Assistant</button>
      <button class="tab-button" onclick="locals.openTab('tab2')">Preview</button>
    </div>

    <div class="container">
      <div id="tab2" class="tab-content tab2" style="display: none">
        <span class="preview-url">${previewUrl}</span>
        <iframe src="${previewUrl}"></iframe>
      </div>

      <div id="tab1" class="tab-content tab1">
        <div>
          <div id="logoHolder">
            <img src="${logos/N8X.svg}" alt="NaBotX Logo" width="110rem" />
            <br />
            <h3>Start to code with NaBotX</h3>
            <span>Type <kbd>/</kbd> to use commands</span>
            <br />
            <br />
            <span>Use <kbd>Ctrl</kbd>+<kbd>Enter</kbd> to send</span>
          </div>
          <div
            role="log"
            id="chatMessages"
            aria-live="polite"
            aria-relevant="additions"
          ></div>
          <div class="space"></div>
          <div class="space"></div>
          <div class="space"></div>
          <div class="space"></div>
        </div>
      </div>
    </div>

    <div class="input-wrapper">
      <textarea
        id="userInput"
        placeholder="Type your prompt or use /command"
        autocomplete="off"
        aria-label="Message input"
        autofocus
      ></textarea>

      <div class="input-button-wrapper">
        <img
          width="15rem"
          src="${clear.png}"
          onclick="clearChat()"
          class="icon-btn"
          title="Clear Chat"
        />

        <img
          width="15rem"
          src="${send.png}"
          id="sendButton"
          class="icon-btn"
          title="Send Message to ${model}"
        />
      </div>
    </div>

    <div id="modal-container"></div>

    <script>
      const vscode = acquireVsCodeApi()

      const btnOpenCodeFile = "${btn-open-code-file.png}"
      const btnReplace = "${btn-replace.png}"
      const btnAppend = "${btn-append.png}"
      const btnCopy = "${btn-copy.png}"
      const btnDiff = "${btn-diff.png}"
      const btnUndo = "${btn-undo.png}"

      const token = "${token}"
      let model = "${model}"
      const rules = "${rules}"
      const path = "${path}"

      // Clean
      modelHelper.show("model-name", model)
      const openModelModal = () => {
        modelHelper.modal((newModel) => {
          model = newModel
          modelHelper.show("model-name", model)
        })
      }
      openModelModal()
    </script>
  </body>
</html>
