.modal-body {
  padding: 0; /* Remove default padding for list group */
}

.list-group {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-group-item {
  background-color: #383838; /* Dark background for list items */
  color: #f8f9fa; /* Light text color for list items */
  border-bottom: 1px solid #444; /* Darker border for list items */
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.list-group-item:hover {
  background-color: #007bff; /* Highlight on hover using a primary color */
  color: #fff;
}
