@font-face {
  font-family: "AppFont";
  src: url("../assets/fonts/Sansation-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease, opacity 0.3s ease;
  font-family: "Sansation" !important;
}

body {
  background-color: var(--vscode-sideBar-background);
  color: var(--vscode-editor-foreground);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  user-select: none;
}

/* Header Styles */
.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: var(--vscode-header-background);
  border-bottom: 1px solid var(--vscode-panel-border);
}

/* Chat Message Styles */
#chatMessages {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  margin: 0.25rem !important;
  border-radius: 0.25rem;
  gap: 0.1rem;
  overflow-y: auto;
  scrollbar-width: auto;
  user-select: text;
}

#chatMessages > * {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Input Wrapper Styles */
.input-wrapper {
  bottom: 0.5rem;
  left: 50%;
  z-index: 1000;
  display: flex;
  align-items: center;
  max-width: 600px;
  background: var(--vscode-editorWidget-background);
  border: 1px solid var(--vscode-widget-border);
  border-radius: 0.5rem;
  gap: 0.5rem;
  transform: translateX(-50%);
  box-shadow: 0 4px 12px var(--vscode-shadow, rgba(0, 0, 0, 0.15));
  width: 97%;
  padding: 0.4rem 0.65rem;
  position: fixed;
}

.input-wrapper textarea {
  background-color: transparent;
  border: none;
  color: var(--vscode-input-foreground);
  font-size: 0.8rem;
  padding: 0.75rem 1rem;
  height:6rem !important;
  flex:1;
  outline: none;
  resize: vertical;
  scrollbar-width: thin;
  scrollbar-color: var(--vscode-scrollbarSlider-background)
    var(--vscode-input-background);
  margin-top: 1.5rem !important;
  
}

.input-wrapper textarea::-webkit-scrollbar {
  width: 0.625rem;
}

.input-wrapper textarea::-webkit-scrollbar-track {
  background: var(--vscode-input-background);
  border-radius: 1rem;
}

.input-wrapper textarea::-webkit-scrollbar-thumb {
  background: var(--vscode-scrollbarSlider-background);
  border-radius: 1rem;
}

.input-wrapper textarea::-webkit-scrollbar-thumb:hover {
  background: var(--vscode-scrollbarSlider-hoverBackground);
}

.input-wrapper button.icon-btn {
  background-color: transparent !important;
  color: var(--vscode-button-foreground);
  border: none !important;
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem;
  cursor: pointer;
}

.input-button-wrapper {
  position: absolute !important;
  top: 0.6rem;
  right: 1.2rem;
}

.input-button-wrapper * {
  display: inline-block !important;
  margin-left: 1rem;
  transition: opacity 200ms ease-in-out;
}

.input-button-wrapper *:hover {
  opacity: 0.4;
  cursor: pointer;
}

.input-button-wrapper *:first-child {
  margin-bottom: 0.1rem !important;
}

.input-wrapper button.icon-btn:hover {
  color: var(--vscode-button-hoverForeground);
}

/* Code Button Container Styles */
.code-btns-container {
  position: absolute;
  top: -0.5rem;
  right: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 1rem;
  background-color: var(--vscode-editor-background);
  border: 1px solid var(--vscode-widget-border);
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.code-btns-container::-webkit-scrollbar {
  display: none;
}

.code-btns-container img {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.5rem;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.code-btns-container img:hover {
  opacity: 0.5;
}

/* Code and Message Container Styles */
pre,
.msg-container {
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--vscode-widget-border);
  background-color: transparent !important;
  overflow: auto;
}

/* Link and Button Styles */
.more-button,
a {
  background-color: transparent;
  border: none;
  color: var(--vscode-textLink-foreground);
  text-decoration: none;
  user-select: none;
}

.more-button:hover,
a:hover {
  color: var(--vscode-textLink-activeForeground);
}

button {
  border: none;
  transition: opacity 300ms !important;
  opacity: 0.8 !important;
}

button:hover {
  opacity: 0.5 !important;
}

/* Utility Styles */
.short-text {
  color: var(--vscode-disabledForeground);
}

.space {
  display: block;
  height: 3.1rem;
}

/* Command Panel Styles */
.command-panel {
  top: 50%;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 0.5rem;
  border: 1px solid var(--vscode-editorWidget-border);
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  color: var(--vscode-editor-foreground);
  opacity: 0.65;
  position: absolute;
  bottom: 6rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.command-button {
  margin: 0.2rem;
  padding: 0.5rem 0.5rem;
  text-align: left;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  color: var(--vscode-button-foreground);
  background-color: transparent;
}

.command-button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

/* Special Buttons */
.accept-button,
.reject-button {
  width: 100%;
  margin: 0 auto;
  padding: 0.75rem;
  border: 1px solid var(--vscode-editorWidget-border);
  border-radius: 0.5rem;
  background-color: var(--vscode-input-background);
  font-size: 85%;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: color 0.3s ease;
  background-color: transparent;
  margin-bottom: 5em;
  position: relative;
}

.accept-button {
  color: var(--vscode-textLink-foreground);
}

.reject-button {
  color: #f44336;
}

/* Logo Holder Style */
#logoHolder {
  width: 100%;
  text-align: center;
  margin-top: 12rem;
  transition: all 300ms;
}

/* Media Queries */
@media (max-width: 480px) {
  .input-wrapper {
    width: 97%;
    padding: 0.4rem 0.65rem;
  }

  .input-wrapper button.icon-btn {
    font-size: 1rem;
    padding: 0.4rem;
  }

  header img {
    width: 5rem;
    height: auto;
  }

  header label {
    font-size: 1rem;
  }
}

.code-block-file-name {
  font-weight: bold;
  position: block;
  cursor: pointer;
  color: white;
  padding-bottom: 0.2rem;
}

.input-button-wrapper * {
  display: block;
}

/* Tab Buttons Styling */
.tab-buttons {
  padding: 10px;
  text-align: center;
}

.tab-button {
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  margin: 0 2px;
  cursor: pointer;
  font-size: 16px;
  color: rgb(129, 129, 129);
}

.tab-button.active {
  background-color: #303030;
}

.tab-content {
  flex: 1;
  padding: 10px;
  overflow: auto;
  height: 100%;
}

.tab1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.tab2 {
  width: 100%;
  height: 100%;
}

.tab2 iframe {
  border: none !important;
  padding: 0 !important;
  overflow: hidden !important;
  width: 100%;
  height: 100%;
}

/* No Commands Style */
.no-commands {
  padding: 5px;
  text-align: center;
  color: var(--vscode-disabledForeground);
}

/* Split Screen Styles */
@media (min-width: 1024px) {
  .container {
    display: flex;
    height: 100%;
  }

  #tab1,
  #tab2 {
    display: flex !important; /* Ensure they are displayed */
    height: 100%;
  }

  #tab1 {
    width: 30% !important;
    border-left: 1px solid var(--vscode-widget-border);
    position: relative; /* Add relative positioning */
  }

  #tab2 {
    width: 70% !important;
  }

  /* Hide tab buttons */
  .tab-buttons {
    display: none;
  }
}

.preview-url {
  position: absolute;
  top: 1rem;
  left: 1rem;
  opacity: 0.5;
}

/* Iframe Fix */
@media (max-width: 1023px) {
  .tab2 iframe {
    height: calc(100vh - 70px); /* Adjust the subtraction value as needed */
  }
}